<%- include('header'); -%>
    <h1>Saba</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque fugiat, velit ipsam rerum repellendus nesciunt obcaecati accusantium harum nulla labore magnam ea aut, illum illo odit vel quasi ad id?</p>
    <%- include('footer'); -%>